h1,
h2,
h3,
h4 {
    font-family: 'cooper hewitt';
}

p,
header li,
li {
   font-family: 'source sans pro';
}


.main {
    /* background:linear-gradient(to right, rgba(255, 255, 255, 0.95) 20%,rgba(255,255,255,.25)45%, rgba(255, 255, 255, 0.1)); */
    /* background-color: rgba(255,255,255, .45); */
    z-index: 10;
    position: relative;
    /* margin: 600px auto 0 auto; */
    margin-top: 20%; 
    padding-top: 50px;
    width: 100%;

    /* margin-left: 5%; */
    
}

.box  {
    display: flex;
    flex-direction: column;

}

.about {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;

}

.showMore {
    align-self: center;
    text-decoration: none;
    /* font-size: 1.5rem; */
    margin: 1rem;
    width: 150px;
    height: inherit;
    padding-left: 70px;
    
}

.showMore .icon {
    color: #000000;
    font-size: 2rem;
}
.showMore .seeMore p {
    /* background-color: rgba(255, 255, 255, .6); */
    color: #000000;
    width: 0;
    height: 1rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    word-break: break-all;
    top: 10px;
    transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -ms-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
}

.showMore:hover .seeMore p {
    width: 70px;
}

.showMore:hover {
    background-position: 0 100%;
}

.background {
    background-color: #000000;
}

@media only screen and (max-width: 860px){
    
    .showMore {
        padding-left: 0px;
    }

    .showMore .seeMore {
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        align-items: center;
        
     
    }
    .showMore .seeMore p  {
        width: 75px;
        height: 0;
    }
    .showMore:hover .seeMore p {
        height: 1rem;
    }
    .icon {
        transform: rotate(.25turn);
        -webkit-transform: rotate(.25turn);
        -moz-transform: rotate(.25turn);
        -ms-transform: rotate(.25turn);
        -o-transform: rotate(.25turn);
        /* padding-bottom: 1rem; */
}
}
