h1, h2, h3, h4, header li, p, li {
    font-family: 'cooper hewitt';
}

.canvas {
    background-color: aqua;
    height: 700px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.main {
    position: relative;
    margin-top: 600px;
}

.showMore {
    align-self: flex-end;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40px;
}