body {
    margin: 0;
}
.chunk {
    box-sizing: border-box;
    min-height: 300px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chunk h2 {
    margin-top: 0;

}


 .hide {
    background-color: bisque;
}
@media only screen and (max-width: 860px){
    .chunk {
        flex-direction: column;
    }
    .chunk a {
        align-self: center;
    }
}